.container{
    width: 100vw;
    height: 100vh;
    background: #fffcf2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    width: 700px;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}
body{
    margin: 0px;
}

img{
    width: 400px;
    border-radius: 10px 0px 0px 10px;
}